



div#left-pane{
    width:400px;
    height:528px;
    overflow: scroll;
    padding:5px;
    float:left;
    border:1px solid #CCCCCC;
}

div#right-pane{
    width:500px;
    float:left;
    overflow:hidden;
}



div.left-container-detail{
	width:520px;
	float:left;
}
div#left_search_box{
	float:left;
	width:520px;
}
